div{
    height: 700px;
    /*background-color: grey;*/
    margin: 0;
    padding: 0;
}

.blue{
    /*background-color: skyblue;*/
}

.center{
    width: 500px;
    margin: 0 auto;
    padding-top: 250px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}
p {
    text-align: center;
    margin: 0;
    padding: 0;
}